html {
    font-family: sans-serif;
}
body {
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    clear: both;
}

#status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 0 0 50px;
}

#feed {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 2%;
}

/*
    Clock
*/
#clock {
    text-align: right;
    margin: 2% 2% 0 0;
}
#clock .time {
    font-size: 5.5em;
}
#clock .day {
    font-size: 2.5em;
    text-transform: lowercase;
    font-weight: bold;
    margin-top: .1em;
}
#clock .date {
    font-size: 1.2em;
    text-transform: lowercase;
    margin-top: -0.8em;
}
#clock .date .d {
    font-size: 1.4em;
}
#clock .date .m {
    font-size: 1.7em;
    font-weight: bold;
}

/*
    Weather
*/
#weather {
    text-align: right;
    margin: 4em 2% 1.3em 2%;
}

#weather .forecast {
    display: inline-block;
}

#weather .info {
    font-size: 0.8em;
    float: right;
    text-align: left;
    padding-left: 0.75em;
}

#weather .icon {
    font-size: 2em;
    float: right;
}

#weather .current {
    display: block;
    margin-bottom: 20px;
}

#weather .current .info {
    font-size: 1.2em;
}

#weather .current .icon {
    font-size: 2.4em;
}

/*
    Motion detector
*/
#motion-detector {
    display: none;
}

/*
    Calendar
*/

#calendar {
    text-align: right;
    margin: 2em 2%;
}

#calendar section {
    font-weight: bold;
}

#calendar .calendar-items {
    list-style: none;
    font-size: 0.8em;
    margin: 0 0 1em 0;
    padding: 0;
}
