{% extends "layout.html" %}
{% block title %}add user{% endblock%}
{% block body %}
<form action="{{ url_for('admin.user_add') }}" method="POST" class="form-horizontal" role="form">
    <div class="form-group">
        <label class="control-label col-md-2" for="name">Name</label>
        <div class="col-md-10">
            <input class="form-control" name="name" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" name="add" value="Add User" />
            <a href="{{ url_for('admin.user_list') }}" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}