{% extends "layout.html" %}
{% block title %}delete {{ user['name'] }}{% endblock%}
{% block body %}
    <p>Are you absolutely, positively, definitely sure you want to delete {{ user['name'] }}?</p>
    <form action="{{ url_for('admin.user_delete') }}" method="POST">
        <input name="user" type="hidden" value="{{ user['id'] }}" />
        <input type="submit" name="delete" class="btn btn-danger" value="I Am Sure" />
        <a href="{{ url_for('admin.user_list') }}" class="btn btn-default">Eeeh I don't know now</a>
    </form>
{% endblock %}