{% extends "layout.html" %}
{% block title %}users{% endblock%}
{% block body %}
<div class="list-controls">
    <a href="{{ url_for('admin.user_add') }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Add User
    </a>
</div>
<table class="table table-hover table-responsive">
    <tbody>
    {% for user in users %}
        <tr{% if user['training'] == 1 %} class="info"{% endif %}>
            <td>{{ user['name'] }}</td>
            <td class="row-controls">
                <button type="button" class="btn btn-default btn-xs toggle-training" data-user="{{ user['id'] }}">
                    {% if user['training'] == 1 %}
                        <span class="glyphicon glyphicon-stop"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-play"></span>
                    {% endif %}
                </button>
                <a href="{{ url_for('admin.user_delete') }}?user={{ user['id'] }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove text-danger"></span></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}