html {
    font-family: sans-serif;
}
body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

/*
    Clock
*/
#clock {
    text-align: right;
    margin: 2% 2% 0 0;
}
#clock .time {
    font-size: 5.5em;
}
#clock .day {
    font-size: 2.5em;
    text-transform: lowercase;
    font-weight: bold;
    margin-top: .1em;
}
#clock .date {
    font-size: 1.2em;
    text-transform: lowercase;
    margin-top: -0.8em;
}
#clock .date .d {
    font-size: 1.4em;
}
#clock .date .m {
    font-size: 1.7em;
    font-weight: bold;
}


/*
    Weather
*/
#weather {
    text-align: right;
    margin: 1.3em 2%;
}

#weather .current .info {
    font-size: 1.2em;
    float: right;
    text-align: left;
    padding-left: 0.75em;
}

#weather .current .icon {
    font-size: 2.4em;
    float: right;
}


/*
    Motion detector
*/
#motion-detector {
    display: none;
}

/*
    Calendar
*/
#auth-google {
    display: none;
}

#calendar {
    text-align: right;
    margin: 5em 2%;
    clear: both;
}

#calendar .calendar-items {
    list-style: none;
    font-size: 0.8em;
}
