body {
  margin: 0;
  overflow: hidden;
}

#bgimg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

#doorbell_msg p {
  margin: 0 auto;
  text-align: center;
  color: #F00;
  font: bold 3em sans-serif;
}