body {
  margin: 0;
  overflow: hidden;
}

#bgimg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

#main {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  opacity: 0.7;
  margin: 0;
  width: 10%;
}

ul {
  list-style: none;
  margin: 0;
  padding-right: 0.4em;
  font: normal 1em sans-serif;
}

ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  text-align: right;
}

ul li.off {
  opacity: 0.3;
}

ul li.stream-toggle {
  background: url('ico-eye.png') no-repeat center center;
}

