@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);

body {
  margin: 0;
  overflow: hidden;
}

/* --- Background --- */

#bg_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

/* --- Top Bar --- */

#bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #444;
}

#menu {
  float: left;
  padding: 5px;
}

#notification {
  text-align: right;
  padding: 7px 7px 3px;
}

/* --- Icons --- */

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(sprites.png);
  background-repeat: no-repeat;
}
.icon.menu {
  background-position: 0 0;
}
.icon.eye {
  background-position: -64px 0;
}
.icon.eye-blocked {
  background-position: -128px 0;
}
.icon.closed {
  background-position: -192px 0;
}
.icon.open {
  background-position: -256px 0;
}

/* --- Doorbell Alert --- */

#doorbell_msg {
  position: absolute;
  top: 5em;
  width: 100%;
  text-align: center;
  display: none;
}

#doorbell_msg p {
  color: #c33;
  font: bold 10em 'Amatic SC', serif;
  padding: 0 25%;
}

#doorbell_msg p {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadein;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  -moz-animation-duration: 1s;
  -moz-animation-name: fadein;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

