<!doctype html>
<head>
  <title>Doorbell</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="bar">
    <div id="menu"><span class="icon menu"></span></div>
    <div id="notification">
      <span id="door_msg"></span>
      <span id="camera_msg" class="icon eye-blocked"></span>
    </div>
  </div>
  <img id="bg_img" src="/" />
  <div id="doorbell_msg"><p>Someone is at the door!</p></div>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.0.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>


