<!doctype html>
<head>
  <title>FRONT DOOR</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="bar">    
    <div id="menu">
      <span class="icon menu"></span>
      <ul>
        <li id="toggle_stream_btn"></li>
      </ul>
    </div>
    <div id="notification">
      <span id="doorbell_icon" class="icon doorbell hide"></span>
      <span id="door_icon" class="icon door"></span>
      <span id="camera_icon" class="icon camera"></span>
    </div>
  </div>
  <div id="doorbell_msg">there is somebody at the door!</div>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.0.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>


